doctype html
html
  head
    title=index
  body
    h1 Application témoin OpenID Connect & SAML

    form(action="/oidc", method="get")
      button(type="submit") OpenID connect

    form(action="/saml", method="get")
      button(type="submit") SAML
