extends layout

block content
    h1= title

    p Connexion avec OpenID connect
    form(action="/oidc", method="get")
      button(type="submit") OIDC

    p Connexion avec SAML 
    form(action="/saml", method="get")
      button(type="submit") SAML

